@model DetailsViewModels
@{
    ViewBag.Title = "Student Details";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/global.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Student
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">ID : @Model.Student.Id</li>
                <li class="list-group-item">Name : @Model.Student.Name</li>
                <li class="list-group-item">Age : @Model.Student.Age</li>
                <li class="list-group-item">Email : @Model.Student.Email</li>
                <li class="list-group-item">Department Number : @Model.Student.DeptNo</li>
            </ul>
        </div>

    </div>
</body>
</html>
